@model IEnumerable<WebApp.Models.User>

@{
    ViewData["Title"] = "Index";
}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        val1 = 5;
        val2 = 2;

        $.ajax({
            type: "POST",
            url: "@Url.Action("Calculate")",
            data: { number1: val1, number2: val2 },
            dataType: "text",
            success: function(msg) {
                document.getElementById("spanMsg").textContent = JSON.stringify("Sum is " + msg);
            },
            error: function (req, status, error) {
                document.getElementById("spanMsg").textContent = error;
            }
        })

        @*$.ajax({
            type: "POST",
            url: "@Url.Action("ShowUserAsync")",
            data: { number1: val1, number2: val2 },
            dataType: "text",
            success: function(msg) {
                document.getElementById("spanMsg").textContent = "Sum= " + msg;
            },
            error: function (req, status, error) {
                document.getElementById("spanMsg").textContent = error;
            }
        })*@
    })
</script>

<h1>User Managment</h1>

<p>
    <a asp-action="Create" class="normal-link font-weight-bold ">Create New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditcard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creditcard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Username" class="normal-link">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Username" class="normal-link">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Username" class="normal-link">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Ofir Ajax Test -->
<span id="spanMsg"><p>hi</p></span>