@model IEnumerable<WebApp.Models.Stock>

@{
    ViewData["Title"] = "Index";
}

<h1>Trade</h1>

@{
    if (User.Identity.IsAuthenticated)
    {
        var isAdmin = false;
        var claims = User.Claims.ToList();
        foreach (var c in claims)
        {
            if (c.Value == "Admin")
            {
                isAdmin = true;
            }
        }

        if (isAdmin)
        {
            <p>
                <a asp-action="Create">Create New</a>
            </p>


        }
    }
 }
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Change)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Change)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>

                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    var isAdmin = false;
                                    var claims = User.Claims.ToList();
                                    foreach (var c in claims)
                                    {
                                        if (c.Value == "Admin")
                                        {
                                            isAdmin = true;
                                        }
                                    }

                                    if (isAdmin)
                                    {
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Symbol">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Symbol">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Symbol">Delete</a>
                                        </td>
                                    }

                                    else
                                    {
                                        <td>
                                            <a asp-action="Buy" asp-controller="Orders" asp-route-symbol="@item.Symbol">Buy</a>
                                            @using (Html.BeginForm("Buy", "Orders", FormMethod.Post))
                                            {
                                            @Html.AntiForgeryToken();

                                            <input type="submit" id="btnBuy" class="btn-success" name="submit" value="Buy" asp-action="Buy" asp-controller="Orders" asp-route-id="@item.Symbol" />
                                            }



                                        </td>
                                    }
                                }
                            }

                        </tr>
                    }

                </tbody>
            </table>
