@model IEnumerable<WebApp.Models.Stock>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.change)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.change)
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Buy" asp-route-id="@item.name">Buy</a> |
                <a asp-action="Sell" asp-route-id="@item.name">Sell</a> |
            </td>
        </tr>
}
    </tbody>
</table>
