@model WebApp.Models.User
@{
    ViewData["Title"] = "Register";
}

@*

    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <!-- Login Form -->
        <form class="form-horizontal" method="POST" asp-controller="Home" asp-action="Index">
            <!-- Username Input -->
            <input type="text" id="login" name="login" placeholder="Username">

            <!-- Password Input -->
            <input type="password" id="password" name="login" placeholder="Password">

            <!-- Login Button -->
            <input type="submit" value="Log In">
        </form>

    </div>

    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
    {
        <table>
            <tr>
                <td></td>
                <td style="text-decoration:underline">App Name</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Username)
                </td>
                <td>
                    @Html.EditorFor(model => model.Username)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Username)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.Password)</td>
                <td>@Html.EditorFor(model => model.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" name="name" value="Login" />
                    <input type="reset" name="name" value="Clear" />
                </td>
            </tr>
        </table>
    }
*@
<br />

@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
}
<h3>Login</h3>
@if (!string.IsNullOrEmpty(error))
{
    <h5 class="alert-danger" style="padding:20px;">Error</h5>
}

<form action="/login?ReturnUrl=System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Login:" />
</form>